<div class="container mt-5">
  <div class="row">
    <button class="mx-3 btn btn-primary h-50 w-auto mt-4" data-bs-toggle="collapse" href="#collapseExample">filter Panel</button>
    <form  id="collapseExample" class=" collapse" [formGroup]="filterForm" (ngSubmit)="applyFilter(filterForm)" >
      <div class="d-flex flex-row">    
        <div class="mb-3 mx-3">
        <label for="name" class="form-label">Employee Name : </label>
      <input type="text" #name id="name" formControlName="name" (change)="resetTable()" [(ngModel)]="EmployeName" class="form-control ">
      </div>
      <div class="mb-3">
        <label for="jan" class="form-label">Jan : </label>
      <input type="number" #jan id="jan" formControlName="jan" (change)="resetTable()" [(ngModel)]="janSalary" class="form-control ">
      </div>
      <div class="mb-3 mx-3">
        <label for="feb" class="form-label">Feb : </label>
      <input type="number" #feb id="feb" formControlName="feb" (change)="resetTable()" [(ngModel)]="febSalary" class="form-control ">
      </div>
      <div class="mb-3 mx-3">
        <label for="departement" class="form-label">Departement : </label>
        <select   #department    (change)="resetTable()"   
        formControlName="departement" [(ngModel)]="selectedValue"   id="departement" name="departement"  class="form-select   me-3 py-2" aria-label=" disabled Default select example" >
          <option  selected id="selectedOption"  value="0"  class="text-start "> Choose the departement</option>
          <option class="text-start"  [ngValue]="departement" *ngFor="let departement of departements">{{departement}} </option>
      
        </select>
      </div>
      <button class="mx-3 btn btn-primary h-50 mt-4" type="submit">filter</button>
      <button class="mx-3 btn btn-primary h-50 mt-4" (click)="resetForm()">Reset</button>
    </div>
  
      <!-- <div class="mb-3 mx-3">
        <label for="departement" class="form-label">Departement : </label>
        <select           (change)=""
        formControlName="station_region"   id="region" name="region"  class="form-select form-select-sm  me-3 py-2" aria-label=" disabled Default select example" >
          <option  selected id="selectedOption"   class="text-start "> </option>
          <option class="text-start" *ngFor="let city of cities">{{city.name}} </option>
      
        </select>
      </div> -->
   
  
    </form>
  </div>

  <div class="row mt-3" *ngIf="searchList.length>0">
    <table class="table table-striped table-hover table-bordered ">
  <thead>
    <tr>
      <th scope="col" class="text-center">#</th>
      <th scope="col">E /M</th>
    <th scope="col">JAN</th>
    <th scope="col">FEB</th>
          <th scope="col">MAR</th>
    <th scope="col">APR</th>
    <th scope="col">MAY</th>
    <th scope="col">Department</th>

    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employer of searchList; let i=index;">
      <th scope="row" class="text-center">{{i+1}}</th>
      <td>{{employer.name}}</td>
      <td>{{employer.JAN}} </td>
      <td>{{employer.FEB}}</td>
      <td>{{employer.MAR}}</td>
      <td>{{employer.APR}}</td>
      <td>{{employer.MAY}}</td>
      <td>{{employer.Departmenet}}</td>

      

    </tr>
    
  </tbody>
</table>
</div>
  <div class="row mt-3" *ngIf="searchList.length==0">
      <table class="table table-striped table-hover table-bordered ">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">E /M</th>
			<th scope="col">JAN</th>
			<th scope="col">FEB</th>
            <th scope="col">MAR</th>
			<th scope="col">APR</th>
			<th scope="col">MAY</th>
      <th scope="col">Department</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employer of EMPLOYERS; let i=index;">
        <th scope="row" class="text-center">{{i+1}}</th>
        <td>{{employer.name}}</td>
        <td>{{employer.JAN}} </td>
        <td>{{employer.FEB}}</td>
        <td>{{employer.MAR}}</td>
        <td>{{employer.APR}}</td>
        <td>{{employer.MAY}}</td>
        <td>{{employer.Departmenet}}</td>

        

      </tr>
      
    </tbody>
  </table>
  </div> 

  <div class="row mt-5">
    <div class="chartContainer">
      <apx-chart     [yaxis]="yAxis" [xaxis]="xAxis"
      [legend]="legend"  [grid]="grid"     [tooltip]="tooltip"
      [plotOptions]="plotOptions"
      [fill]="fill"
      [series]="series" [chart]="chartDetails" [labels]="chartLabels" [title]="chartTitle" [dataLabels]="chartDataLabels"></apx-chart>
  </div>
  </div>

</div>
